body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:506px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:253px;
  width:81px;
  height:23px;
  font-size:20px;
}
#u74_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:247px;
  width:307px;
  height:36px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:307px;
  height:36px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:54px;
  background:inherit;
  background-color:rgba(0, 153, 0, 1);
  border:none;
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:199px;
  top:319px;
  width:155px;
  height:54px;
  font-size:20px;
  color:#FFFFFF;
}
#u76_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:151px;
  word-wrap:break-word;
}
